/* style sheet for admin view */

/* navbar */
body {
  margin: 0;
  /* background-color: #a8a6a4; */
  font-family: "Open Sans", sans-serif;
  color: #000;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: #d8d8d8;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 25px;
  text-decoration: none;
  text-align: center;
}
 
.sidebar a.active {
  background-color: #555;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 220px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/* categories */
.home-content{
  position: relative;
  padding-top: 20px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.home-content .overview-boxes2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box, .overview-boxes2 .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: rgb(250, 250, 250);
  padding: 20px 2px;
  /* border: 1px solid #009879; */
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic, .overview-boxes2 .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: 5px;
  font-weight: 500;
  /* margin-left: 50px; */
}


/* registrations list */

/* h2 {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: center;
} */

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #009879;
  color: white;
  float: left;
  margin-right: 15px;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #009879;
  color: #009879;
}

.back-btn{
  float: right;
  margin-bottom: 15px;
  margin-top: 15px;
}

.view-btn{
  background: rgb(0, 255, 76);
}

.delete-btn{
  background: rgb(255, 0, 0);
}

.update-btn{
  background: rgb(3, 213, 255);
}

.table-style {
  border-collapse: collapse;
  /* margin: 25px 0; */
  /* margin-left: auto;
  margin-right: auto; */
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 95%;
}

.table-style th {
  background-color: #009879;
  color: #ffffff;
}

.table-style th,
.table-style td {
  padding: 12px 15px;
  text-align: left;
}

.table-style tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-style tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-style tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

input[type="submit"] {
  border: none;
  display: block;
  background-color: #009879;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #009879;
  border: 2px solid #009879;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #009879 !important;
}

